html {
    font-size: 12px;
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    color: #433E3E;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.page {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

/* Header */

.logo {
    width: 100px;
    height: 100px;
    z-index: 1;
}

/* Main */

h3 {
    text-align: center;
}

p {
    padding: 0 100px;
}

/* Footer */

.icons-police {
    width: 30px;
    margin-right: 20px;
}

.grid-layout-footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    margin-top: 250px;
    font-size: 18px;
}

.image-footer {
    width: 200px;
}

.h4-footer {
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text-footer {
    text-decoration: none;
    color: #433E3E;
}

.text-cookies {
    font-size: 14px;
    font-weight: 100;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
}

.name-logo-footer-position {
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.arrow-position {
    position: absolute;
    right: 0;
    bottom: 90px;
}

.author {
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    color: #433E3E;
    position: absolute;
    right: 0;
    bottom: 0;
}

.partners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
}

.form-partners {
    background-color: #f1eeee;
    border-radius: 12px;
    padding: 20px;
}

input, textarea {
    border: none;
    border-bottom: 1px solid #433E3E;
    background: none;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    resize: none;
    font-size: 18px;
    padding: 10px;
}

.input:focus {
    outline: none;
}

.order-btn {
    background-color: #EEBEA7;
    width: 240px;
    height: 56px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
}

